<script>
  import {f7, Page,List,ListItem,SkeletonBlock,Navbar,Block,Button,useStore,Row,Col,NavRight,Link, Input} from "framework7-svelte";
  import store from "../../js/store";
  let items = useStore('lapkeu', (value) => (items = value));
  let loading = useStore('loading', (value) => (loading = value));;
  let nextUrl = useStore('lapkeuNextUrl', (value) => (nextUrl = value));
  let shown = false;
  let kode=null;

  f7.on('pageBeforeIn',function (page) {
    store.dispatch('lapkeuRefreshData');
  });

  function openPanel(){
    (shown)?shown=false:shown=true;
  }
 
function nextToPage(params) {
  store.dispatch('lapkeuAddingData');
}

  function loadRefresh(done) {
    store.dispatch('lapkeuRefreshData');
    done();
  }

  function cariData() {
    if(kode==null || kode==''){
      f7.dialog.alert('Silakan isi kode laporan keuangan','Peringatan');
    }else{
      f7.dialog.alert('Maaf kode yang anda masukan tidak ditemukan','Informasi');
    }
  }
</script>

<Page ptr onPtrRefresh={loadRefresh} name="hometab2">
  <Navbar title="Laporan Keuangan" backLink="Back">
    <NavRight>
      {#if shown}
      <Link iconIos="f7:chevron_up_square" iconAurora="f7:chevron_up_square" iconMd="f7:chevron_up_square" onClick={()=>openPanel()}></Link>
      {:else}
      <Link iconIos="f7:pencil_ellipsis_rectangle" iconAurora="f7:pencil_ellipsis_rectangle" iconMd="f7:pencil_ellipsis_rectangle" onClick={()=>openPanel()}></Link>
      {/if}
    </NavRight>
  </Navbar>
  <div class="divider-space"/>
    {#if shown}
  <div class="container" style="text-align: center;">
    <Row>
      <Col>
          <div class="content content-box elevation-10 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <div class="divider-space"/>
            <Input type="number" bind:value={kode} placeholder="  Masukan kode Laporan Keuangan"/>
            <div class="divider-space-text"/>
            <Button fill onClick={()=>cariData()}>Cari</Button>
          </div>
      </Col>
    </Row>
  </div>
    <!-- pembatas -->
    <div class="divider-space"></div>
    <div class="divider-space"></div>
    <div class="divider-space"></div>
  {/if}
  {#if items.length === 0}
  <div class="container" style="text-align: center;">
          <div class="divider-space-text" />
    <p><small>Tarik tulisan ini kebawah untuk merefresh halaman</small></p>
  </div>
    <List mediaList>
      {#each [1,2,3] as n, index (index)}
        <ListItem
          class="skeleton-text skeleton-effect-wave"
          title="Full Name"
          subtitle="Position"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.">
          <span slot="media">
            <SkeletonBlock style="width: 100px; height: 100px; border-radius: 20%" />
          </span>
        </ListItem>
      {/each}
    </List>
  {:else}
    <List mediaList>
    {#each items as item, index (index)}
      {#if item.picture}
      <ListItem
        title={item.judul}
        subtitle={item.keterangan}
        text={(item.finish == 0)?"laporan sementara":"laporan akhir"}
        link="/lapkeu/{item.id}/transaksi">
        <img slot="media" src={item.picture} class="elevation-3" style="width: 100px; height: 100px; border-radius: 10%" alt="" />
      </ListItem>
        {:else}
      <ListItem
        title={item.judul}
        subtitle={item.keterangan}
        text={(item.finish == 0)?"laporan sementara":"laporan akhir"}
        link="/lapkeu/{item.id}/transaksi">
        <img slot="media" src="/static/images/4235572.jpg" class="elevation-3" style="width: 100px; height: 100px; border-radius: 10%" alt="" />
      </ListItem>
        {/if}
    {/each}
    {#if nextUrl != null}
    <Block><Button fill preloader loading={loading} onClick={nextToPage}>Lanjutkan</Button></Block>
    {/if}
    </List>
  {/if}
</Page>