<script>
  export let f7route;
  import {f7, Page,List,ListItem,SkeletonBlock,Navbar,Block,Button,useStore, Icon} from "framework7-svelte";
  import store from "../../js/store";
  const id = f7route.params.lapkeuId;
  let items = useStore('transaksi', (value) => (items = value));
  let loading = useStore('loading', (value) => (loading = value));;
  let nextUrl = useStore('transaksiNextUrl', (value) => (nextUrl = value));

  f7.on('pageBeforeIn',function (page) {
    store.dispatch('transaksiRefreshData',id);
  });
 
function nextToPage(params) {
  store.dispatch('transaksiAddingData');
}

  function loadRefresh(done) {
    store.dispatch('lapkeuRefreshData',id);
    done();
  }
  function formatRupiah(angka){
			var bilangan = angka;
                    var	reverse = bilangan.toString().split('').reverse().join(''),
                    ribuan 	= reverse.match(/\d{1,3}/g);
                    ribuan	= ribuan.join('.').split('').reverse().join('');
                    return ribuan;
		}
function ubahTanggal(tgl) {
var hari = ['Ahad', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
var bulan = ['Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
var full = new Date(tgl);
var xtahun = full.getYear();
var tahun = (xtahun < 1000)?xtahun + 1900 : xtahun;
return hari[full.getDay()] +', ' + full.getDate() + ' ' + bulan[full.getMonth()] + ' ' + tahun;
}
</script>

<Page ptr onPtrRefresh={loadRefresh}>
  <Navbar title="Detail Transaksi" backLink="Back"/>
  <div class="divider-space"/>
  {#if items.length === 0}
  <div class="container" style="text-align: center;">
          <div class="divider-space-text" />
    <p><small>Tarik tulisan ini kebawah untuk merefresh halaman</small></p>
  </div>
    <List mediaList>
      {#each [1,2,3] as n, index (index)}
        <ListItem
          class="skeleton-text skeleton-effect-wave"
          title="Full Name"
          subtitle="Position"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.">
          <span slot="media">
            <SkeletonBlock style="width: 100px; height: 100px; border-radius: 20%" />
          </span>
        </ListItem>
      {/each}
    </List>
  {:else}
    <List mediaList>
    {#each items as item, index (index)}
      {#if item.jenis=="kredit"}
      <ListItem
        title={item.nama_transaksi}
        subtitle={ubahTanggal(item.tgl_transaksi)}
        after={(item.jenis == "kredit")?"Masuk":"Keluar"}
        text={"Rp. "+formatRupiah(item.nominal)}>
        <Icon slot="media" f7="square_arrow_down" size="50px" style="width: 50px; height: 50px; border-radius: 10%; background-color: unset; color:#01c77f"/>
      </ListItem>
        {:else}
      <ListItem
        title={item.nama_transaksi}
        subtitle={ubahTanggal(item.tgl_transaksi)}
        after={(item.jenis == "kredit")?"Masuk":"Keluar"}
        text={"Rp. "+formatRupiah(item.nominal)}>
        <Icon slot="media" f7="square_arrow_up" size="50px" style="width: 50px; height: 50px; border-radius: 10%; background-color: unset; color:orange"/>
        <!-- <img slot="media" src="/static/images/4235572.jpg" class="elevation-3" style="width: 50px; height: 50px; border-radius: 10%" alt="" /> -->
      </ListItem>
        {/if}
    {/each}
    {#if nextUrl != null}
    <Block><Button fill preloader loading={loading} onClick={nextToPage}>Lanjutkan</Button></Block>
    {/if}
    </List>
  {/if}
</Page>