<script>
import { f7,Page,Navbar } from "framework7-svelte";
export let f7route;
let linkUrl = "https://infokajian.org";
let id = f7route.params.doaId;
let data = null;
f7.on('pageBeforeIn',function (page) {
    f7.request.json(linkUrl+'/app/doa/id/'+id)
      .then(function (res) {
          data = res.data;
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Network unstable",
          closeTimeout: 2000,
        }).open();
      });
});
</script>
<Page>
  <Navbar title="Detail Doa" backLink="Back" />
  <div class="segments-page">
    <div class="container">
		<div class="b-single-content">
            {#if data == null}
			<div class="content-box">
				<h3 class="skeleton-text skeleton-effect-wave">Long Droughts Make Some Areas Experience Drought</h3>
				<div class="divider-space"></div>
				<p class="skeleton-text skeleton-effect-wave">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat atque recusandae ea asperiores. Dolores aut veritatis adipisci illo id, eveniet?</p>
				<div class="divider-space-text"></div>
			</div>
            {:else}
			<div class="content-box">
				<h4 style="text-align: center; color:#01c77f;">{data.judul}</h4>
				<div class="divider-space"></div>
				<p style="text-align: center;">{@html data.konten}</p>
                {#if data.kajian}
				<div class="divider-space"></div>
                <p style="text-align: center;">-----------%%%-----------</p>
				<div class="divider-space"></div>
				<h5 style="color:#01c77f;">Penjabaran Doa diatas</h5>
				<div class="divider-space-text"></div>
				{@html data.kajian}
                {/if}
			</div>
            {/if}
		</div>
    </div>
  </div>
</Page>
