<script>
import { f7, theme, Page, Navbar, NavRight, Link, Searchbar, List, ListItem, useStore } from "framework7-svelte";
import store from "../../js/store";
let linkUrl ="https://infokajian.org";
let dataDoa = useStore('doas', (value) => (dataDoa = value));
let sheet;

f7.on('pageBeforeIn',function (page) {
    if(dataDoa.length === 0) {
      if(localStorage.getItem('doaData')){
          const data =localStorage.getItem('doaData');
          store.dispatch('addDoas',JSON.parse(data));
        if(loadJumlah()){
          if(dataDoa.length != loadJumlah()){
            store.dispatch('doaRefreshData');
          }
        }
      }else{
        store.dispatch('doaRefreshData');
      }
    }
});
  function goToLink(id){
      f7.sheet.close();
      f7.view.main.router.navigate(isi);
  }
  function loadJumlah() {
    f7.request.json(linkUrl+'/app/doa/jumlah')
      .then(function (res) {
        return res.data;
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Network Unstable",
          closeTimeout: 2000,
        }).open();
        return false;
      });
  }
  function loadData() {
      store.dispatch('doaRefreshData');
}
  function loadRefresh(done) {
    var data = loadJumlah();
    if(dataDoa.length != data){
      loadData();
    }
    done();
  }

  function createSheet(judul,isi,id) {
    // Create sheet modal
      sheet = f7.sheet.create({
        content: `
          <div class="sheet-modal">
            <div class="toolbar">
              <div class="toolbar-inner justify-content-flex-start">
                <div class="block">
                <p><strong>`+judul+`</strong></p>
                </div>
              </div>
              <div class="toolbar-inner justify-content-flex-end">
                <a href="/doa/`+id+`/" class="link sheet-close">Lengkap</a>
              </div>
            </div>
            <div class="sheet-modal-inner">
              <div class="page-content">
                <div class="block" style="text-align:center">
                    `+isi+`
                </div>
              </div>
            </div>
          </div>
        `.trim(),
      });
    // Close inline sheet
    if (f7.$('.demo-sheet.modal-in').length > 0) f7.sheet.close('.demo-sheet');
    // Open it
    sheet.open();
  }
</script>

<Page ptr onPtrRefresh={loadRefresh} name="hometab5"> 
    <Navbar title="Kumpulan Do'a" backLink="Back">
    <NavRight>
      <Link searchbarEnable=".searchbar-doa" iconIos="f7:search" iconAurora="f7:search" iconMd="material:search" />
    </NavRight>
    <Searchbar
      class="searchbar-doa"
      expandable
      searchContainer=".search-list"
      searchIn=".item-title"
      disableButton={!theme.aurora}
    />
  </Navbar>
  <List class="searchbar-not-found">
    <ListItem title="Data tidak ditemukan" />
  </List>
  <List class="search-list searchbar-found">
      {#if dataDoa.length === 0}
  <div class="container" style="text-align: center;">
          <div class="divider-space-text" />
    <p><small>Tarik tulisan ini kebawah untuk merefresh halaman</small></p>
  </div>
        {#each [1,2,3,4,5] as n, index (index)}
          <ListItem title="Doaku Dipagi hari" class="skeleton-text skeleton-effect-wave" />
        {/each}
      {:else}
        {#each dataDoa as item, index (index)}
            <ListItem title={item.judul} onClick={()=>createSheet(item.judul,item.konten,item.id)} />
        {/each}
      {/if}
  </List>
</Page>