<script>
  import {
    f7,
    Page,
    List,
    ListItem,
    SkeletonBlock,
    Navbar,
    Block,
    Button,
    useStore
  } from "framework7-svelte";
import store from "../../js/store";
  let items = useStore('blogs', (value) => (items = value));
  let loading = useStore('loading', (value) => (loading = value));;
  let nextUrl = useStore('blogsNextUrl', (value) => (nextUrl = value));


f7.on('pageBeforeIn',function (page) {
    if(items.length === 0){
      store.dispatch('blogRefreshData');
    }
});
 
function nextToPage(params) {
  store.dispatch('blogAddingData');
}

  function loadRefresh(done) {
    store.dispatch('blogRefreshData');
    done();
  }

</script>

<Page ptr onPtrRefresh={loadRefresh} name="hometab2">
  <Navbar title="Berita" backLink="Back" />
  {#if items.length === 0}
  <div class="container" style="text-align: center;">
          <div class="divider-space-text" />
    <p><small>Tarik tulisan ini kebawah untuk merefresh halaman</small></p>
  </div>
    <List mediaList>
      {#each [1,2,3] as n, index (index)}
        <ListItem
          class="skeleton-text skeleton-effect-wave"
          title="Full Name"
          subtitle="Position"
        >
          <span slot="media">
            <SkeletonBlock style="width: 50px; height: 50px; border-radius: 10%" />
          </span>
        </ListItem>
      {/each}
    </List>
  {:else}
    <List mediaList>
    {#each items as item, index (index)}
      <ListItem
        title={item.berita_judul}
        subtitle={"Kategori : "+item.kategori_nama}
        link="/blog/{item.id}/">
        <img slot="media" src={"https://infokajian.org/assets/images/berita/"+item.berita_gambar} class="elevation-3" style="width: 50px; height: 50px; border-radius: 10%" alt="" />
      </ListItem>
    {/each}
    {#if nextUrl != null}
    <Block><Button fill preloader loading={loading} onClick={nextToPage}>Lanjutkan</Button></Block>
    {/if}
    </List>
  {/if}
</Page>
