<script>
  import {
    f7,
    Page,
    List,
    ListItem,
    SkeletonBlock,
    Navbar,
    Block,
    Button,
    useStore
  } from "framework7-svelte";
import store from "../../js/store";
  let items = useStore('kajians', (value) => (items = value));
  let loading = useStore('loading', (value) => (loading = value));;
  let nextUrl = useStore('kajiansNextUrl', (value) => (nextUrl = value));

 
function nextToPage(params) {
  store.dispatch('kajianAddingData');
}

  function loadRefresh(done) {
    store.dispatch('kajianRefreshData');
    done();
  }

function ubahTanggal(tgl) {
var hari = ['Ahad', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
var bulan = ['Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
var full = new Date(tgl);
var xtahun = full.getYear();
var tahun = (xtahun < 1000)?xtahun + 1900 : xtahun;
return hari[full.getDay()] +', ' + full.getDate() + ' ' + bulan[full.getMonth()] + ' ' + tahun;
}

</script>

<Page ptr onPtrRefresh={loadRefresh} name="hometab2">
  <Navbar title="Info Agenda" backLink="Back" />
  {#if items.length === 0}
  <div class="container" style="text-align: center;">
          <div class="divider-space-text" />
    <p><small>Tarik tulisan ini kebawah untuk merefresh halaman</small></p>
  </div>
    <List mediaList>
      {#each [1,2,3] as n, index (index)}
        <ListItem
          class="skeleton-text skeleton-effect-wave"
          title="Full Name"
          subtitle="Position"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit."
        >
          <span slot="media">
            <SkeletonBlock style="width: 100px; height: 100px; border-radius: 20%" />
          </span>
        </ListItem>
      {/each}
    </List>
  {:else}
    <List mediaList>
    {#each items as item, index (index)}
      <ListItem
        title={item.agenda_judul}
        subtitle={item.pemateri}
        text={ubahTanggal(item.agenda_tanggal)}
        link="/kajian/{item.id}/">
        <img slot="media" src={"https://infokajian.org/assets/images/agenda/"+item.agenda_gambar} class="elevation-3" style="width: 100px; height: 100px; border-radius: 10%" alt="" />
      </ListItem>
    {/each}
    {#if nextUrl != null}
    <Block><Button fill preloader loading={loading} onClick={nextToPage}>Lanjutkan</Button></Block>
    {/if}
    </List>
  {/if}
</Page>