<script>
import { f7,Page,Navbar, SkeletonBlock } from "framework7-svelte";
export let f7route;
let linkUrl = "https://infokajian.org";
let id = f7route.params.kajianId;
let data = null;
f7.on('pageBeforeIn',function (page) {
    f7.request.json(linkUrl+'/app/kajian/id/'+id)
      .then(function (res) {
          data = res.data;
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Kajian | Network unstable",
          closeTimeout: 2000,
        }).open();
      });
});

function ubahTanggal(tgl) {
var hari = ['Ahad', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
var bulan = ['Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
var full = new Date(tgl);
var xtahun = full.getYear();
var tahun = (xtahun < 1000)?xtahun + 1900 : xtahun;
return hari[full.getDay()] +', ' + full.getDate() + ' ' + bulan[full.getMonth()] + ' ' + tahun;
}
</script>
<Page>
  <Navbar title="Detail Agenda" backLink="Back" />
  <div class="segments-page">
    <div class="container">
		<div class="b-single-content">
            {#if data == null}
			<div class="content-box">
				<span class="category-tag skeleton-effect-wave" style="color: #01c77f;">weather</span>
				<h4 class="skeleton-text skeleton-effect-wave">Long Droughts Make Some Areas Experience Drought</h4>
				<div class="blog-info">
					<ul>
						<li></li>
						<li class="user-blog skeleton-text skeleton-effect-wave">Oleh<span>Mark Lubie</span></li>
					</ul>
				</div>
        		<SkeletonBlock class="skeleton-effect-wave" style="width: 100%; height: 200px; border-radius: 5%"></SkeletonBlock>
				<div class="divider-space"></div>
				<p class="skeleton-text skeleton-effect-wave">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat atque recusandae ea asperiores. Dolores aut veritatis adipisci illo id, eveniet?</p>
				<div class="divider-space-text"></div>
				<!-- <div class="blog-share">
					<ul>
						<li>Share:</li>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google"></i></a></li>
					</ul>
				</div>-->
				<div class="divider-space"></div>
				<div class="blog-tag">
					<p class="skeleton-text skeleton-effect-wave"><span>Kategori:</span>weather, nature, soil, broken, cracked, dry, region, village</p>
				</div> 
			</div>
            {:else}
			<div class="content-box">
				<span class="category-tag">{ubahTanggal(data.agenda_tanggal)} || {data.agenda_lokasi}</span>
				<h4>{data.agenda_judul}</h4>
				<div class="blog-info">
					<ul>
						<li></li>
						<li class="user-blog">Oleh <span>{data.pemateri}</span></li>
					</ul>
				</div>
				<div class="divider-space"></div>
				<img src={"https://infokajian.org/assets/images/agenda/"+data.agenda_gambar} class="elevation-8" style="width: 100%; border-radius: 5%" alt="">
				<div class="divider-space"></div>
				{@html data.agenda_konten}
				<div class="divider-space-text"></div>
				<!-- <div class="blog-share">
					<ul>
						<li>Share:</li>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google"></i></a></li>
					</ul>
				</div>-->
				<div class="divider-space"></div>
				<div class="blog-tag">
					<p><span>Kategori: </span>{data.kategori_nama}</p>
				</div> 
			</div>
            {/if}
		</div>
    </div>
  </div>
</Page>
