<script>
  import { f7, Page, Navbar, Button,Block } from "framework7-svelte";
</script>

<Page>
  <Navbar title="Tentang IKJ" backLink="Back" />
  <div class="segments-p-about-us">
    <div class="about-us">
      <div class="content-image-header">
        <img class="lazy" data-src="https://infokajian.org/Logo-ikj/aboutus.png" alt="" />
      </div>
      <div class="container">
        <div class="divider-space" />

        <div class="content-desc content-box elevation-10">
          <h3>Info Kajian Jogjakarta</h3>
          <span>SEJARAH INFO KAJIAN JOGJAKARTA</span>
          <div style="text-align: justify;">
            <p>Tahun 2016 dapat dikatakan sebagai awal mula pemikiran tentang Info Kajian Jogjakarta tercetus, dilatar belakangi dari kegelisahan seorang pencari ilmu di Yogyakarta yang haus dengan ilmu kajian islami serta minimnya akses untuk mengetahui jadwal kajian diwilayah Yogyakarta.</p>
          </div>
          <div class="divider-space-text" />
          <div style="text-align: justify;">
            <p>Tahun 2017 para pemuda/pemudi yang mengalami keresahan serta tujuan yang sama, yaitu Mencari dan Memberikan Informasi tentang adanya majelis ta'lim di sekitar Yogyakarta. Dengan langkah awal membuat sebuah grup komunikasi melalui WhatsApp yang dinamakan “<strong style="color: #01c77f;">Info Kajian Jogjakarta</strong>”, para pencari ilmu mulai melebarkan sayap ke media sosial. </p>
          </div>
          <div class="divider-space-text" />
          <div style="text-align: justify;">
            <p>Tanggal 24 Maret 2018 di Masjid Diponegoro Yogyakarta (Masjid Balai Kota Yogyakarta), terbentuklah sebuah komunitas bernama <strong style="color: #01c77f;">Info Kajian Jogjakarta (IKJ)</strong>. Komunitas ini berkembang di bidang media sosial online dan offline.</p>
          </div>
        </div>

        <div class="wrap-title">
          <h3>Visi Kami</h3>
        </div>
        <div class="content-box about-vission elevation-6" style="text-align: center;">
          <p>
            Menyebarkan dakwah islam agar tercipta masyarakat yang berakhlak
            sesuai dengan Al-Qur'an dan As-Sunnah.
          </p>
        </div>

        <div class="wrap-title">
          <h3>Misi Kami</h3>
        </div>
        <div class="content-box about-mission elevation-6">
          <p>1. Menyebarkan informasi kajian melalui media sosial.</p>
          <p>2. Menjadi akun dakwah yang terpercaya</p>
          <p>
            3. Menciptakan inovasi dakwah untuk menjangkau seluruh lapisan
            masyarakat
          </p>
        </div>

        <div class="our-team">
          <div class="wrap-title">
            <h3>Divisi dalam IKJ</h3>
          </div>
          <div class="content-box">
            <div class="row">
              <div class="col-20 justify-content-center">
                <div class="content-image">
                  <img data-src="https://infokajian.org/Logo-ikj/modified_jh.png" class="lazy" alt="" />
                </div>
              </div>
              <div class="col-80">
                <div class="content-text">
                  <h5>Jogjakarta Hijrah</h5>
                  <span><small>Divisi memfasilitasi, mengajak, mendampingi untuk slalu memulai berhijrah melalui kajian dan nasihat dakwah</small></span>
                </div>
              </div>
            </div>
          </div>

          <div class="divider-space-text" />

          <div class="content-box">
            <div class="row">
              <div class="col-20">
                <div class="content-image">
                  <img data-src="https://infokajian.org/Logo-ikj/modified_ck.png" class="lazy" alt="" />
                </div>
              </div>
              <div class="col-80">
                <div class="content-text">
                  <h5>Catatan Kajian</h5>
                  <span><small>Divisi yang mempunyai fungsi untuk mencatat resume pada sebuah kajian</small></span>
                </div>
              </div>
            </div>
          </div>

          <div class="divider-space-text" />

          <div class="content-box">
            <div class="row">
              <div class="col-20">
                <div class="content-image">
                  <img data-src="https://infokajian.org/Logo-ikj/modified_bm.png" class="lazy" alt="" />
                </div>
              </div>
              <div class="col-80">
                <div class="content-text">
                  <h5>Bincang Muslimah</h5>
                  <span><small>Media online khusus perempuan yang bertujuan untuk mengadakan kajian, baik kajian
online maupun offline serta sharing quote dan nasihat dakwah</small></span>
                </div>
              </div>
            </div>
          </div>

          <div class="divider-space-text" />

          <div class="content-box">
            <div class="row">
              <div class="col-20">
                <div class="content-image">
                  <img data-src="https://infokajian.org/Logo-ikj/modified_far.png" class="lazy" alt="" />
                </div>
              </div>
              <div class="col-80">
                <div class="content-text">
                  <h5>Friday Al-Kahfi Reminder</h5>
                  <span><small>Divisi yang berfungsi untuk mengingatkan sudara muslim untuk membaca Al-Kahfi pada Malam dan hari Jum'at</small></span>
                </div>
              </div>
            </div>
          </div>

          
          <div class="divider-space-text" />

          <div class="content-box">
            <div class="row">
              <div class="col-20">
                <div class="content-image">
                  <img data-src="https://infokajian.org/Logo-ikj/senyum ikj.png" class="lazy" alt="" />
                </div>
              </div>
              <div class="col-80">
                <div class="content-text">
                  <h5>Senyum IKJ</h5>
                  <span><small>Divisi IKJ yang bergerak di bidang social(berbagi, nasi, kunjungan panti, & kegiatan incidental lain seperti bantuan korban bencana)</small></span>
                </div>
              </div>
            </div>
          </div>

          <div class="divider-space-text" />

          <div class="content-box">
            <div class="row">
              <div class="col-20">
                <div class="content-image">
                  <img data-src="https://infokajian.org/Logo-ikj/modified_mer.png" class="lazy" alt="" />
                </div>
              </div>
              <div class="col-80">
                <div class="content-text">
                  <h5>Merchandise IKJ</h5>
                  <span><small>Divisi IKJ yang bergerak di bidang Media kewirausahaan untuk meningkatkan kemandirian komunitas</small></span>
                </div>
              </div>
            </div>
          </div>

          <div class="wrap-title">
            <h3>Ikuti Kami</h3>
          </div>
          <div class="content-media content-box elevation-6">
            <div class="list list-box">
              <ul>
                <li external="true">
                  <a
                    class="item-link external"
                    target="_system"
                    href="https://infokajian.org"
                  >
                    <div class="item-content">
                      <div class="item-media">
                        <i class="fas fa-globe" style="background: lightslategrey;"/>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">https://infokajian.org</div>
                      </div>
                    </div>
                  </a>
                </li>
                <li external="true">
                  <a
                    class="item-link external"
                    target="_system"
                    href="https://instagram.com/infokajianjogjakarta"
                  >
                    <div class="item-content">
                      <div class="item-media">
                        <i class="fab fa-instagram" />
                      </div>
                      <div class="item-inner">
                        <div class="item-title">@infokajianjogjakarta</div>
                      </div>
                    </div>
                  </a>
                </li>
                <li external="true">
                  <a
                    class="item-link external"
                    target="_system"
                    href="https://t.me/infokajianjogjakarta"
                  >
                  <div class="item-content">
                    <div class="item-media">
                      <i
                        class="fab fa-telegram"
                        style="background: steelblue;"
                      />
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Link Telegram</div>
                    </div>
                  </div>
                  </a>
                </li>
                <li external="true">
                  <a
                    class="item-link external"
                    target="_system"
                    href="mailto:email@infokajian.org"
                  >
                    <div class="item-content">
                      <div class="item-media">
                        <i class="fab fa-google" />
                      </div>
                      <div class="item-inner">
                        <div class="item-title">email@infokajian.org</div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

		  <div class="divider-space-text"></div>


          <Block class="justify-content-center align-content-center" style="text-align: center;">
            <p>Kirim Saran dan Masukan Aplikasi?</p>
			  <Button fill href="mailto:report@arif.app?subject=Report%20IKJ%20APP" target="_system" external>Email : report@arif.app</Button>
		  </Block>
        </div>
      </div>
    </div>
  </div>
</Page>
