<script>
  import {f7, Page, Swiper, SwiperSlide, Link, Row, Col } from "framework7-svelte";
  import Dom7 from "dom7";
  let linkUrl ="https://infokajian.org";
  let dataBanner = null;
  let dataKutipan = null;
  let refreshKutipan = true;
  let betaVersion = 0;
  const versiApp = f7.version;
  let datenow = new Date().getFullYear();

  function goToLink(tipe,isi) {
    if(tipe == "link"){
      f7.view.main.router.navigate(isi);
    }else{
      f7.dialog.alert(isi,"Informasi");
    }
  }

  Dom7(document).on('click','.refresh-kutipan',function(){
    refreshKutipan = true;
    refreshDataKutipan();
  });

  f7.on('pageInit',function (page) {
    f7.request.json(linkUrl+'/app/version/versi',{versi:f7.version})
      .then(function (res) {
        betaVersion = res.data.beta;
        if(res.data.usang == 1){
          checkUpdateApp();
        }
      });
      
    f7.request.json(linkUrl+'/app/banner/jumlah')
      .then(function (res) {
          updateDataBanner();
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Banner | Network unstable",
          closeTimeout: 2000,
        }).open();
      });
    
    refreshDataKutipan();
  });

  function updateDataBanner() {
    f7.request.json(linkUrl+'/app/banner/semua')
      .then(function (res) {
        localStorage.setItem('bannerJumlah',res.data.total);
        if(res.data.total != 0){
          localStorage.setItem('bannerData',res.data.data);
          dataBanner = res.data.data;
        }
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Banner d | Network unstable",
          closeTimeout: 2000,
        }).open();
      });
  }


  function refreshDataKutipan(){
    f7.request.json(linkUrl+'/app/kutipan/random')
      .then(function (res) {
        console.log(res.data);
        dataKutipan = res.data;
    refreshKutipan = false;
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Network unstable",
          closeTimeout: 2000,
        }).open();
    refreshKutipan = false;
      });
  }

  function checkUpdateApp() {
    f7.request.json(linkUrl+'/app/version/terbaru')
      .then(function (res) {
        f7.dialog.alert("<strong>versi "+res.data.versi+"</strong><br>"+ res.data.fitur,"Update Tersedia");
      });
  }
</script>

<Page name="home" noSwipeback noNavbar hideBarsOnScroll>
  <div class="slider segments">
    <div class="container">
      {#if dataBanner === null}
      <Swiper pagination spaceBetween={5}>
        {#each [1,2,3] as n, index (index)}
        <SwiperSlide onClick={()=>updateDataBanner()}>
          <div class="content">
            <div class="mask" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));" />
            <img data-src="static/images/banner-home1.jpg" class="lazy" alt="" />
            <div class="slider-caption">
              <h2>Gambar Banner {n}</h2>
              <p>
                gambar banner gagal dimuat atau gambar belum diunggah.
              </p>
            </div>
          </div>
        </SwiperSlide>
        {/each}
      </Swiper>
      {:else}
      <Swiper pagination autoplay loop speed={800} spaceBetween={10} class="elevation-3" style="border-radius: 10px;">
        {#each dataBanner as item, index (index)}
        <SwiperSlide data-swiper-autoplay="7000">
          <div class="content elevation-8">
            <div class="mask" />
            <img src={item.gambar_banner} alt="" />
          </div>
        </SwiperSlide>
        {/each}
      </Swiper>
      {/if}
    </div>
  </div>
  <!-- end slider -->

  <!-- features home -->
  <div class="features-home segments">
    <div class="container">
      <div class="section-title">
        <h3>
          <small>IKJ App {#if betaVersion === 1}[Beta]{/if}</small>
          <Link href="/list-menu/" class="see-all-link">Lihat Menu</Link>
        </h3>
      </div>
      <Row>
        <Col onClick={()=>goToLink("link","/sholat/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="far fa-clock" />
            <h4>Jadwal Sholat</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("info","fitur Al-Qur'an dalam pengembangan dan akan segera kami rilis secepatnya")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-book" />
            <h4>Al Qur'an</h4>
          </div>
        </Col>
      </Row>
      <Row>
        <Col onClick={()=>goToLink("link","/kajian/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
              <i class="far fa-calendar-alt " />
              <h4>Agenda</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("link","/blog/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-layer-group" />
            <h4>Berita</h4>
          </div>
        </Col>
      </Row>
      <Row>
        <Col onClick={()=>goToLink("link","/lapkeu/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-file-invoice-dollar" />
            <h4>Lap. Keuangan</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("link","/doa/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-tasks" />
            <h4>Doa-Doa</h4>
          </div>
        </Col>
      </Row>
    </div>
  </div>
  <!-- end features home -->

  <!-- welcome -->
  <div class="link-buy-wrapper segments">
    <div class="container">
      <div class="content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition refresh-kutipan">
        <div class="content" style="color: white;">
          <h4 style="color: white;">{#if refreshKutipan || dataKutipan == null}Kata Kutipan{:else}{dataKutipan.judul}{/if}</h4>
          <p style="color: #01c77f;">-</p>
          {#if refreshKutipan}
          <p class="skeleton-text skeleton-effect-wave">
            kata kutipan gagal silakan klik text ini kembali untuk merefresh kata kutipan.
          </p>
          <p class="skeleton-text skeleton-effect-wave"><strong>IT Dev IKJ</strong></p>
          {:else}
          {#if dataKutipan == null}
          <p>
            kata kutipan gagal dimuat, silakan klik text ini kembali untuk merefresh kata kutipan.
          </p>
          <p><strong>IT Dev IKJ</strong></p>
          {:else}
          <p>{dataKutipan.isinya}</p>
          <p><strong>{dataKutipan.author}</strong></p>
          {/if}
          {/if}
                    <div class="divider-space-text" />
                    <p><small style="color: white;"><small>@infokajianjogjakarta || IKJ APP versi {versiApp}</small></small></p>
        </div>
      </div>
    </div>
  </div>
</Page>
