<script>
import {f7,Block,Button, Page,Navbar, Row, Col} from "framework7-svelte";
  const versiApp = f7.version;
  function goToLink(tipe,isi) {
    if(tipe == "link"){
      f7.view.main.router.navigate(isi);
    }else{
      f7.dialog.alert(isi,"Informasi");
    }
  }
</script>
<Page>
  <Navbar title="Menu" backLink="Back" />
  <!-- features home -->
  <div class="divider-space" />
  <div class="features-home segments">
    <div class="container">
      <Row>
        <Col onClick={()=>goToLink("link","/sholat/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="far fa-clock" />
            <h4>Jadwal Sholat</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("info","fitur Al-Qur'an dalam pengembangan dan akan segera kami rilis secepatnya")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-book" />
            <h4>Al Qur'an</h4>
          </div>
        </Col>
      </Row>
      <Row>
        <Col onClick={()=>goToLink("link","/kajian/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
              <i class="far fa-calendar-alt " />
              <h4>Agenda</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("link","/blog/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-layer-group" />
            <h4>Berita</h4>
          </div>
        </Col>
      </Row>
      <Row>
        <Col onClick={()=>goToLink("link","/doa/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-tasks" />
            <h4>Doa-Doa</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("link","/lapkeu/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-file-invoice-dollar" />
            <h4>Lap. Keuangan</h4>
          </div>
        </Col>
      </Row>
      <Row>
        <Col onClick={()=>goToLink("link","/video/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fab fa-youtube-square" />
            <h4>Video</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("info","fitur Resume Kajian dalam pengembangan dan akan segera kami rilis secepatnya")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="far fa-file-alt" />
            <h4>Resume Kajian</h4>
          </div>
        </Col>
      </Row>
      <Row>
        <Col onClick={()=>goToLink("info","fitur Resume Kajian dalam pengembangan dan akan segera kami rilis secepatnya")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="fas fa-user-edit" />
            <h4>Admin</h4>
          </div>
        </Col>
        <Col onClick={()=>goToLink("link","/about-us/")}>
          <div class="content content-box elevation-6 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <i class="far fa-address-card" />
            <h4>Tentang</h4>
          </div>
        </Col>
      </Row>
		  <!-- <div class="divider-space-text"></div> -->
      <Block class="justify-content-center align-content-center" style="text-align: center;">
            <strong style="color: #01c77f;">@infokajianjogjakarta || IKJ APP Versi {versiApp}</strong>
		  </Block>
    </div>
  </div>
  <!-- end features home -->
</Page>