<script>
  import {f7, Navbar, Row, Col, Page, NavRight, Link,ListItem, List, ListInput, useStore } from "framework7-svelte";
  import store from "../js/store";

  let shown = false;
  let sholatData = useStore('sholats', (value) => (sholatData = value));
  let semuaLokasi = null;
  let tanggal = new Date();
  let formdate = [new Date()];
  let lokasi = null;


f7.on('pageBeforeIn',function (page) {
    if(localStorage.getItem('dataLokasi')){
      lokasi = localStorage.getItem('dataLokasi');
    }else{
      lokasi = 1505;
    }
    getData();

    if(localStorage.getItem('semuaLokasi')){
          const data = localStorage.getItem('semuaLokasi');
          semuaLokasi = JSON.parse(data);
    }else{
    f7.request.json('https://api.myquran.com/v1/sholat/kota/semua')
      .then(function (res) {
          let data = res.data;
          localStorage.setItem('semuaLokasi', JSON.stringify(data));
          semuaLokasi = res.data;
          console.log(data);
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Network unstable",
          closeTimeout: 2000,
        }).open();
      });
    }
});

  function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [year, month, day].join('/');
}
  function getData() {
    store.dispatch('addSholat',null);
    let link = 'https://api.myquran.com/v1/sholat/jadwal/'+lokasi+'/'+formatDate(tanggal);
    console.log(link);
    f7.request.json(link)
      .then(function (res) {
          console.log(res.data)
          store.dispatch('addSholat',res.data);
      })
      .catch(function (err) {
        f7.toast.create({
          text: "Network unstable",
          closeTimeout: 2000,
        }).open();
      });
  }
  function openPanel() {
    if(shown)
      shown = false;
    else
      shown = true;
  }

  function changeLokasi(value) {
    localStorage.setItem('dataLokasi',value);
    getData();
  }

  function changeDate(value){
    tanggal=value;
    getData();
  }

function ubahTanggal(tgl) {
var hari = ['Ahad', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu'];
var bulan = ['Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
var full = new Date(tgl);
var xtahun = full.getYear();
var tahun = (xtahun < 1000)?xtahun + 1900 : xtahun;
return hari[full.getDay()] +', ' + full.getDate() + ' ' + bulan[full.getMonth()] + ' ' + tahun;
}
</script>
<Page>
  <Navbar title='Jadwal Sholat' backLink='back'>
    <NavRight>
      {#if shown}
      <Link iconIos="f7:multiply" iconAurora="f7:multiply" iconMd="f7:multiply" onClick={()=>openPanel()}></Link>
      {:else}
      <Link iconIos="f7:slider_horizontal_3" iconAurora="f7:slider_horizontal_3" iconMd="f7:slider_horizontal_3" onClick={()=>openPanel()}></Link>
      {/if}
    </NavRight>
  </Navbar>
  <div class="divider-space" />
  <div class="container">
    {#if shown}
    <Row>
      <Col>
          <div class="content content-box elevation-10 elevation-hover-24 elevation-pressed-12 elevation-transition">
            <List>
                <ListItem title="Lokasi" smartSelect smartSelectParams={{openIn: 'popup', searchbar: true, searchbarPlaceholder: 'Cari Lokasi'}}>
                  <select name="lokasi" bind:value={lokasi} on:blur on:change={(e) => changeLokasi(e.target.value)}>
                    {#each semuaLokasi as a}
                      <option value={a.id}>{a.lokasi}</option>
                    {/each}
                  </select>
                </ListItem>
                <ListInput type="datepicker" bind:value={formdate} onChange={(e) => changeDate(e.target.value)} calendarParams={{dateFormat: 'yyyy/m/d'}} placeholder="Pilih Tanggal"></ListInput>
              </List>
          </div>
      </Col>
    </Row>
    <!-- pembatas -->
    <div class="divider-space"></div>
    <div class="divider-space"></div>
    <div class="divider-space"></div>
    {/if}
      <Row>
        {#if sholatData}
        <Col style="text-align: left;"><h6 style="color:#01c77f">{ubahTanggal(sholatData.data.jadwal.date)}</h6></Col>
        <Col style="text-align: right;"><h6 style="color:#01c77f">{sholatData.data.lokasi}</h6></Col>
        {:else}
        <Col style="text-align: left;"><h6 class="skeleton-text skeleton-effect-wave">Sabtu, 23 November 2021</h6></Col>
        <Col style="text-align: right;"><h6 class="skeleton-text skeleton-effect-wave">Kab. Gunung Kidul</h6></Col>
        {/if}
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Imsak</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.imsak}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Subuh</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.subuh}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Terbit</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.terbit}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Dhuha</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.dhuha}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Dzuhur</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.dzuhur}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Ashar</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.ashar}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Maghrib</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.maghrib}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <Row>
        <Col>
          <div class="content content-box elevation-4 elevation-hover-24 elevation-pressed-12 elevation-transition">
          <Row>
            <Col>
              <h5>Isya</h5>
            </Col>
            <Col style="text-align: right;">
              {#if sholatData}
              <h5>{sholatData.data.jadwal.isya}</h5>
              {:else}
              <h5 class="skeleton-text skeleton-effect-wave">23.00</h5>
              {/if}
            </Col>
          </Row>
          </div>
        </Col>
      </Row>
      <div class="divider-space-text"/>
      <p style="text-align: center;"><small><small>Sumber : API Islamic yang diambil dari situs <span style="color:#01c77f">Bimaislam Kemenag RI</span></small></small></p>
      <div class="divider-space-text"/>
  </div>
</Page>