<script>
import {f7, Navbar,Page,useStore,SkeletonBlock} from 'framework7-svelte';
import store from "../js/store";
let ytData = useStore('videos', (value) => (ytData = value));

f7.on('pageInit',function (page) {
    if(ytData.length === 0){
      store.dispatch('videoRefreshData');
    }
});

function loadData() {
    store.dispatch('videoRefreshData');
}

function loadRefresh(done) {
    loadData();
    done();
  }
</script>
<Page ptr onPtrRefresh={loadRefresh} name="hometab4">
<Navbar title="Youtube IKJ" backLink="Back" />
<div class="container">
    {#if ytData.length == 0}
    <div class="container" style="text-align: center;">
            <div class="divider-space-text" />
      <p><small>Tarik tulisan ini kebawah untuk merefresh halaman</small></p>
    </div>
      <div class="divider-space" />
    {#each [1,2,3] as n, index (index)}
    <div class="content-box elevation-10" style="text-align: center;">
        <SkeletonBlock class="skeleton-effect-wave" style="width: 100%; height: 150px; border-radius: 2%"></SkeletonBlock>
        <div class="divider-space-text" />
        <h3 class="skeleton-text skeleton-effect-wave">ini judulnya</h3>
    </div>
    {/each}
    {:else}
        {#each ytData as item, index (index)}
            <div class="divider-space" />
            <a href={"https://www.youtube.com/watch?v="+item.id} class="external" target="_system">
                <div class="content-box elevation-10" style="text-align: center;">
                    <img src="{item.thumbnail}" style="width: 100%;  border-radius: 5%" alt="">
                    <div class="divider-space-text" />
                    <h3>{item.title}</h3>
                </div>
            </a>
        {/each}
    {/if}
</div>
</Page>