<App { ...f7params } >

  <!-- Your main view, should have "view-main" class -->
  <View main class="safe-areas" url="/" />

</App>
<script>
  import { onMount } from 'svelte';
  import { getDevice }  from 'framework7/lite-bundle';
  import {
    f7,
    f7ready,
    App,
    View,
    useStore
  } from 'framework7-svelte';
  import cordovaApp from '../js/cordova-app';
  import routes from '../js/routes';
  import store from '../js/store';
  const device = getDevice();
  // Framework7 Parameters
  let f7params = {
    name: 'IKJ APP', // App name
    theme: 'auto', // Automatic theme detection
    id: 'app.arif.ikj', // App bundle ID
    version: "1.0.1",
    autoDarkTheme: false,
    // App store
    store: store,
    // App routes
    routes: routes,


    // Input settings
    input: {
      scrollIntoViewOnFocus: device.cordova && !device.electron,
      scrollIntoViewCentered: device.cordova && !device.electron,
    },
    // Cordova Statusbar settings
    statusbar: {
      iosOverlaysWebView: true,
      androidOverlaysWebView: false,
    },
  };
  onMount(() => {
    f7ready(() => {
      // Init cordova APIs (see cordova-app.js)
      if (f7.device.cordova) {
        cordovaApp.init(f7);
      }
    store.dispatch('kajianRefreshData');
    });
  })
</script>