/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #01c77f;
  --f7-theme-color-rgb: 1, 199, 127;
  --f7-theme-color-shade: #019e65;
  --f7-theme-color-tint: #01f099;
}

/* Your app custom styles here */