/*Vuma - Mobile Template*/

/*table of content

general
button default
form
pagination
button default
subnavbar
toolbar
---------------

1. home
navbar
slider
welcome
feature home
link buy wrapper
list
---------------

2. element
accordion
button variants
card
chips or tags
form
grid system
lazy load
list view
menu
popover
popup
preloader
smart select
sortable
subnabvar
swipeout
wishlist on swipeout
swiper slider
tabs
timeline
toast
tabbar with labels
walkthrough
---------------

3. pages
image shadow and image radius
about me
about us
coming soon
embeds
faq
features
forum
forum single
gallery
maintenance
page not found
portfolio
pricing table
profile
profile edit
reservation
reset password
settings
sign in 
sign up
skill
team 
testimonial
---------------

5. shop
home shop
product
prduct details
shopping cart
checkout
categories
order history
tracking order
wishlist
account buyer
account seller
---------------

6. blog
home blog
home blog list
blog grid
blog list
blog single
---------------

social media color


*/

/*general*/
.ios body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    background: #fff;
    line-height: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 22px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #333;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    color: #333;
}

p {
    margin: 0;
}

img {
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.container {
    padding: 0 15px;
}

.row {
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

.section-title {
    margin-bottom: 15px;
}

.section-title h3 {
    font-size: 20px;
    font-weight: 700;
}

.section-title .see-all-link {
    float: right;
    font-size: 14px;
    color: #01c77f;
    font-weight: 500;
}

.wrap-title {
    margin: 20px 0 15px;
}

.wrap-title.wrap-title-first {
    margin-top: 0;
}

.wrap-title h3 {
    font-size: 17px;
    font-weight: 700;
}

.wrap-title h3 .see-all-link {
    float: right;
    color: #01c77f;
    font-weight: 500;
    font-size: 14px;
}

.divider-space {
    margin: 10px 0;
    display: flex;
}

.divider-space-text {
    margin: 5px 0;
    display: flex;
}

.segments {
    padding-bottom: 20px;
}

.segments-page {
    padding: 20px 0;
}

.segments-page-toolbar {
    padding-bottom: 70px;
}

@-moz-document url-prefix() {
    .page-home {
        padding-bottom: 52px;
    }

}

.page-home .page-content {
    padding-top: 0;
}

.fab {
    position: relative;
}

.date-time {
    display: inline-block;
    color: #888;
    font-size: 13px;
}

.content-box {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

/*pagination*/
.wrap-pagination ul li {
    display: inline-block;
    text-align: center;
    height: 30px;
    margin-right: 5px;
}

.wrap-pagination ul li:last-child {
    margin-right: 0;
}

.wrap-pagination ul li a {
    color: #444;
    display: inline-block;
    font-size: 16px;
    padding: 0 10px;
    line-height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrap-pagination ul li.disabled {
    opacity: 1 !important;
}

.wrap-pagination ul li.disabled a {
    color: #fff;
    background: #01c77f;
    border-radius: 50%;
}

/*button default*/
.ios .buttons {
    background: #01c77f;
    color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    text-transform: none;
    border: 0;
    display: inline-block;
}

.ios .buttons:focus {
    outline: 0;
}

/*subnavbar*/
.subnavbar {
    background: #fff;
}

.subnavbar::after {
    transform: none;
}

.subnavbar .subnavbar-inner .title {
    width: 100%;
}

/*toolbar*/
.ios .toolbar {
    background: #fff;
}

.ios .toolbar a.tab-link.tab-link-active {
    color: #01c77f !important;
}

.ios .toolbar .toolbar-inner {
    padding: 0 15px;
}

.ios .toolbar .toolbar-inner .link {
    color: #888;
}

.ios .toolbar .toolbar-inner .link.toolbar-link-active {
    color: #01c77f !important;
}

.ios .toolbar.tabbar-labels a.tab-link {
    padding-top: 7px;
    padding-bottom: 7px;
}

.ios .toolbar.tabbar-labels a.tab-link.tab-link-active {
    color: #01c77f !important;
}

/*-----home-----*/

/*navbar*/
.ios .navbar {
    background: #fff;
}

.ios .navbar .navbar-inner {
    padding: 0 15px;
}

.ios .navbar .navbar-inner .left img {
    width: 24px;
}

.navbar a {
    color: #01c77f;
}

.navbar::after {
    transform: none !important;
}

.navbar-home {
    margin-bottom: 20px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.navbar-home::after {
    background: transparent;
}

.navbar-page {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.navbar-page::after {
    background: transparent;
}

.navbar .title-large {
    background: #fff;
}

.navbar-static .title {
    width: 100%;
}

/*slider*/
.slider {
    margin-top: 20px;
}

.slider .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    background: #fff;
    opacity: 1;
    width: 7px;
    height: 7px;
}

.slider .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #01c77f;
}

.slider .swiper-container .swiper-slide .content {
    position: relative;
    width: 100%;
    height: 174px;
    border-radius: 12px;
}

.slider .swiper-container .swiper-slide .content img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.slider .swiper-container .swiper-slide .content .slider-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 30px;
}

.slider .swiper-container .swiper-slide .content .slider-caption h2 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
}

.slider .swiper-container .swiper-slide .content .slider-caption p {
    color: #fff;
}

.slider .swiper-container .swiper-slide .content .mask {
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

/*welcome*/
.welcome .content {
    text-align: center;
}

.welcome .content h3 {
    margin-bottom: 10px;
}

.welcome .content .buttons {
    width: auto;
    margin: auto;
    margin-top: 20px;
    display: inline-block;
}

/*features home*/
.features-home .content {
    text-align: center;
}

.features-home .content i {
    font-size: 26px;
    color: #01c77f;
    margin-bottom: 15px;
}

.features-home .content h4 {
    font-size: 16px;
}

/*link buy wrapper*/
.link-buy-wrapper .content-box {
    background: #01c77f;
}

.link-buy-wrapper .content {
    text-align: center;
}

.link-buy-wrapper .content h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}

.link-buy-wrapper .content .buttons {
    width: auto;
    margin: auto;
    margin-top: 20px;
    background: #fff;
    color: #01c77f;
}

/*list*/
.list .item-inner::after {
    transform: none;
}

.list {
    margin: 0;
}

.list ul::before {
    display: none;
}

.list ul li .item-content .item-media i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #01c77f;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}

.list ul li .item-content .item-inner .item-title {
    font-size: 16px;
    color: #333;
}

.list ul li .item-content .item-inner::after {
    transform: none;
}

.list ul li:last-child .item-content .item-inner::after {
    background: transparent;
}

.list ul::after {
    transform: none;
    background: transparent;
}

/*-----element-----*/

/*accordion*/
.accordion .item-content .item-inner::before {
    font-size: 18px;
    color: #555;
}

.accordion .accordion-item-content p {
    font-size: 13px;
    padding: 5px 15px 10px;
}

.accordion-icon .item-title i {
    color: #01c77f;
    margin-right: 15px;
    width: 15px;
}

.accordion-bg .accordion-item {
    background: #01c77f;
}

.accordion-bg .accordion-item.item-top {
    border-radius: 8px 8px 0 0;
}

.accordion-bg .accordion-item.item-bottom {
    border-radius: 0 0 8px 8px;
}

.accordion-bg .accordion-item .item-inner::before {
    color: #fff;
}

.accordion-bg .accordion-item .item-inner::after {
    background: #fff;
}

.accordion-bg .accordion-item .item-inner .item-title {
    color: #fff !important;
}

.accordion-bg .accordion-item .item-inner .item-title i {
    color: #fff;
    margin-right: 15px;
    width: 15px;
}

.accordion-bg .accordion-item .accordion-item-content {
    color: #fff;
}

.accordion-bg .accordion-item .accordion-item-content p {
    padding-top: 15px;
    padding-bottom: 10px;
}

.accordion-custom .item-top .item-link .item-inner::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0a9" !important;
    font-weight: 900;
    color: #555;
    transition: all .4s ease-in-out;
}

.accordion-custom .item-top.accordion-item-opened .item-inner::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ab" !important;
}

.accordion-custom .item-middle .item-link .item-inner::before {
    font-family: "Font Awesome 5 Free";
    content: "\f067" !important;
    font-weight: 900;
    color: #555;
}

.accordion-custom .item-middle.accordion-item-opened .item-inner::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d" !important;
    font-weight: 900;
    color: #555;
}

.accordion-custom .item-bottom .item-link .item-inner::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0da" !important;
    font-weight: 900;
    color: #555;
}

.accordion-custom .item-bottom.accordion-item-opened .item-inner::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7" !important;
    font-weight: 900;
    color: #555;
}

/*button variants*/
.button-w-icon i {
    margin-right: 5px;
}

.button-full {
    margin-bottom: 10px;
}

.button-full:last-child {
    margin-bottom: 0;
}

/*cards*/
.card {
    margin: 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.card .card-content {
    padding: 15px;
}

.card .card-footer {
    padding: 15px;
}

.card.card-outline {
    box-shadow: none;
}

.card .card-header::after {
    transform: none;
}

.card.style-card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.card.style-card .card-footer i {
    font-size: 20px;
    color: #01c77f;
}

.card .card-content .date {
    margin-bottom: 10px;
    color: #888;
}

.links-list a::after {
    transform: none;
}

.card.card-list .card-content {
    padding: 0;
}

.card.card-list-img .card-content .item-content {
    padding-left: 15px;
}

.card.card-list-img .card-content .item-content .item-media img {
    width: 40px;
    height: 100%;
    border-radius: 50%;
}

.card.card-list-img .card-content .item-content .item-inner .item-title {
    margin-bottom: 3px;
}

.card.card-list-img .card-content .item-content .item-inner .item-subtitle {
    font-size: 13px;
}

.card.card-list-img .card-content .item-content .item-inner::after {
    transform: none;
}

.card.card-expandable {
    cursor: pointer;
}

.card.card-expandable .card-content {
    padding: 0;
}

.card.card-expandable .card-content .card-image img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.card.card-expandable .card-content a {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 20px;
}

.card.card-expandable .card-content .card-content-padding p {
    font-size: 14px;
}

.card.card-expandable-title .card-content .card-image img {
    height: 230px;
}

.card.card-expandable-title .card-content .card-header {
    font-size: 20px;
    display: block;
}

.card.card-expandable-title .card-content .card-header small {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin-top: 6px;
    display: block;
}

/*chips or tags*/
.chip {
    padding-left: 13px;
    padding-right: 13px;
}

.chip.chip-icon .chip-media i {
    color: #333;
}

.chip.contact-chip {
    padding-left: 10px;
}

/*form*/
form.list ul li .item-content .item-inner .item-title {
    font-size: 12px;
}

.floating-outline-inputs ul::after {
    display: none;
}

.floating-outline-inputs .item-input-outline.item-input-focused .item-input-wrap::after {
    border-color: #01c77f;
}

/*grid system*/
.grids .card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.grids .card .content-text {
    padding: 15px;
    text-align: center;
}

.grids.grid-no-gap .card img {
    border-radius: 0;
}

/*lazy load*/
.lazy-loading img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

/*list view*/
.list-box {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: #fff;
}

.list-box .item-content {
    padding-left: 15px;
}

.list-box ul {
    border-radius: 12px;
}

.list-box ul::after {
    display: none;
}

.list-box ul li .item-content {
    padding-left: 15px;
}

.simple-list ul li::after {
    transform: none;
}

.list-box .list-group-title {
    border-radius: 12px 12px 0 0;
}

/*menu*/
.menu .menu-item {
    background: #01c77f;
}

.menu .menu-item.active-state {
    background: #01c77f;
}

.menu .menu-item .menu-dropdown {
    background: #01c77f;
}

.menu .menu-item .menu-dropdown::before {
    background-image: radial-gradient(ellipse at 0% 0%, transparent 0%, transparent 70%, #01c77f 72%);
}

.menu .menu-item .menu-dropdown::after {
    background-image: radial-gradient(ellipse at 100% 0%, transparent 0%, transparent 70%, #01c77f 72%);
}

.menu .menu-item .menu-dropdown .menu-dropdown-content {
    background: #01c77f;
}

.menu .menu-item .menu-dropdown .menu-dropdown-content .menu-dropdown-link {
    font-weight: 400;
    color: #fff;
    margin-left: 0;
}

.menu .menu-item .menu-dropdown .menu-dropdown-content .menu-dropdown-link.active-state {
    background: #01c77f;
}

.menu .menu-item .menu-dropdown-center .menu-dropdown-link {
    text-align: center;
    display: inline-block;
}

.menu .menu-item .menu-dropdown-right .menu-dropdown-link {
    text-align: right;
    display: inline-block;
}

/*popover*/
.popover {
    border-radius: 12px;
}

.popover .popover-inner .content {
    padding: 15px;
}

.popover-image img {
    width: 100%;
    border-radius: 12px;
}

.popover-dynamic .content a i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: #01c77f;
}

.popover-custom .content .image {
    position: relative;
}

.popover-custom .content .image img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.popover-custom .content .image a i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: #01c77f;
    transform: translateY(-50%);
}

/*popup*/
.popup {
    padding: 15px;
}

.popup-full.modal-in {
    overflow: scroll;
}

.popup-full .buttons {
    margin-bottom: 15px;
}

.popup-center {
    width: calc(100% - 15px * 2);
    height: auto;
    top: 50%;
    transform: translateY(-50%) !important;
    border-radius: 12px;
    margin: 15px;
}

.popup-center.modal-out {
    transform: translate3d(0, 100%, 0) !important;
}

.popup-attention {
    width: calc(100% - 15px * 2);
    height: auto;
    border-radius: 12px;
    margin: 15px;
    text-align: center;
    top: auto;
    bottom: 0;
}

.popup-attention i {
    color: red;
    font-size: 45px;
    margin-bottom: 20px;
}

.popup-login {
    width: calc(100% - 15px * 2);
    height: auto;
    top: 50%;
    transform: translateY(-50%) !important;
    border-radius: 12px;
    margin: 15px;
}

.popup-login.modal-out {
    transform: translate3d(0, 100%, 0) !important;
}

.popup-login .buttons {
    display: block;
    text-align: center;
}

.popup-media {
    width: calc(100% - 15px * 2);
    height: auto;
    border-radius: 12px;
    margin: 15px;
    text-align: center;
    top: auto;
    bottom: 0;
    padding: 0;
}

.popup-media .list ul li {
    display: block;
}

.popup-media .list ul li i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 14px;
}

.popup-media .buttons {
    margin-bottom: 15px;
}

.popup-grid {
    width: calc(100% - 15px * 2);
    height: auto;
    border-radius: 12px;
    margin: 15px;
    text-align: center;
    top: auto;
    bottom: 0;
}

.popup-grid i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 16px;
}

/*preloader*/
.preloader-with-bg {
    background: #888;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
}

.large-preloader {
    width: 44px;
    height: 44px;
}

.large-preloader-with-bg {
    background: #888;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
}

/*searchbar*/
.searchbar {
    background: #fff;
}

.searchbar::after {
    transform: none;
}

.searchbar .searchbar-input-wrap input[type="search"] {
    font-size: 14px;
}

.searchbar .searchbar-disable-button {
    color: #01c77f;
}

/*smart select*/
.smart-select .popup {
    padding: 0 !important;
}

.smart-select .list {
    margin: 20px 0;
}

.ios label.item-radio input[type="radio"]:checked ~ .icon-radio::after {
    color: #01c77f;
}

/*checkbox*/
label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox,
.checkbox input[type="checkbox"]:checked ~ i {
    border-color: #01c77f;
    background: #01c77f;
}

/*sortable*/
a.sortable-toggle i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #01c77f;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
}

/*subnavbar*/
.segment-custom {
    border: 1px solid #01c77f;
}

.segment-custom .button:not(.button-outline) {
    border-left: 1px solid #01c77f;
}

.segment-custom .button:not(.button-outline):first-child {
    border-left: none;
}

.segment-custom .button.tab-link {
    color: #333;
}

.segment-custom .button.tab-link-active {
    background: #01c77f;
    color: #fff;
}

/*swipeout*/
.swipeout .item-content .item-media img {
    width: 32px;
    height: 100%;
    border-radius: 100%;
}

/*wishlist on swipeout*/
.wishlist-on-swipeout .item-content {
    padding: 15px;
}

.wishlist-on-swipeout .content-image img {
    width: 100%;
    border-radius: 12px;
}

.wishlist-on-swipeout .content-text a p {
    font-size: 14px;
}

.wishlist-on-swipeout .content-info {
    text-align: center;
}

.wishlist-on-swipeout .content-info .price {
    font-size: 16px;
    font-weight: 500;
    color: #01c77f;
    display: inline-block;
    margin-bottom: 8px;
}

.wishlist-on-swipeout .content-info .wishlist-status {
    font-size: 11px;
    text-transform: uppercase;
}

.wishlist-on-swipeout .content-info .wishlist-status.status-sold {
    color: #01c77f;
}

/*swiper slider*/
.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    background: #fff;
    opacity: 1;
    width: 7px;
    height: 7px;
}

.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #01c77f;
}

.swiper-with-pagination .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.swiper-space-between .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.swiper-horizontal .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.swiper-vertical .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.swiper-overlap.swiper-wrapper .swiper-slide {
    width: 250px;
    height: 100%;
}

.swiper-overlap.swiper-wrapper .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.demo-swiper {
    height: auto;
}

.swiper-infinite-loop .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.swiper-fade-effect .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

/*tabs*/
.segments-tabs {
    height: 100%;
}

.segments-tabs .container {
    height: 100%;
}

.tab-element .content-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.tabs-animated-wrap {
    border-radius: 12px;
}

.tabs-animated-wrap .tabs .tab .content-box {
    box-shadow: none;
}

.tabs-animated-wrap .tabs .tab.tab-active .content-box {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.tabs-swipeable-wrap {
    border-radius: 12px;
}

.tabs-swipeable-wrap .tabs .tab .content-box {
    box-shadow: none;
}

.tabs-swipeable-wrap .tabs .tab.tab-active .content-box {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

/*timeline*/
.timeline {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.timeline .timeline-item .timeline-item-inner {
    border-radius: 12px;
}

.timeline-image .timeline-item .timeline-item-inner img {
    width: 100%;
    border-radius: 8px;
}

.timeline-image .timeline-item .timeline-item-inner .timeline-item-text {
    margin-top: 8px;
}

/*toast*/
.toast-wrapper {
    text-align: center;
}

.toast-wrapper .buttons {
    display: block;
    margin-top: 0;
}

/*tabbar with labels*/
.tabbar-image img {
    width: 100%;
    margin-bottom: 10px;
}

/*walkthrough*/
.walkthrough {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    right: 15px;
    padding: 30px 15px;
}

.walkthrough .content {
    text-align: center;
}

.walkthrough .content i {
    font-size: 50px;
    margin-bottom: 15px;
}

.walkthrough .content h2 {
    margin-bottom: 15px;
}

.walkthrough .content h5 {
    margin-bottom: 15px;
    color: #666;
    font-size: 20px;
    font-weight: 400;
}

/*-----pages-----*/

/*image shadow and image radius*/
.image-shadow {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.3);
}

.image-radius {
    border-radius: 12px;
}

/*about me*/
.about-me .content-image img {
    width: 100%;
}

.about-me .content-text h3 {
    margin-bottom: 10px;
}

.about-me .content-text span {
    display: inline-block;
    color: #01c77f;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
}

/*about us*/
.segments-p-about-us {
    padding-bottom: 20px;
}

.about-us .content-image-header img {
    width: 100%;
}

.about-us .content-desc h3 {
    margin-bottom: 10px;
}

.about-us .content-desc span {
    display: inline-block;
    color: #01c77f;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
}

.about-us .about-vission {
    background: #01c77f;
    color: #fff;
}

.about-us .about-mission {
    background: #0aa1e6;
    color: #fff;
}

.about-us .our-team .content-image img {
    width: 100%;
    border-radius: 50%;
}

.about-us .our-team .content-text h5 {
    margin-bottom: 5px;
}

.about-us .our-team .content-text span {
    display: inline-block;
    color: #01c77f;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
}

/*contact us*/
.contact-us .list .item-content {
    padding-left: 0;
}

.contact-us .list .item-content .item-media i {
    color: #01c77f;
}

/*coming soon*/
.coming-soon .content {
    text-align: center;
}

.coming-soon .content .logo-brand img {
    width: 60px;
    margin: 0 auto;
}

.coming-soon .content h4 {
    margin-top: 10px;
}

.coming-soon .content ul li:first-child {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    background: #01c77f;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.coming-soon .content ul li:last-child {
    font-weight: 500;
}

.coming-soon .content form {
    text-align: left;
    margin-top: 10px;
}

.coming-soon .content form .item-content {
    padding-left: 0;
}

/*embeds*/
.embeds .map {
    width: 100%;
    height: 200px;
    border: 0;
}

/*faq*/
.faq .accordion .accordion-list ul {
    background: transparent;
}

.faq .accordion .list-box {
    background: #fff;
}

.faq .accordion .item-content .item-inner::after {
    background: transparent;
}

/*features*/
.features .content {
    text-align: center;
}

.features .content i {
    font-size: 35px;
    margin-bottom: 10px;
    color: #01c77f;
}

.features .content h4 {
    margin-bottom: 10px;
}

/*forum*/
.forum .user-forum {
    margin-bottom: 15px;
}

.forum .user-forum img {
    width: 35px;
    height: 100%;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}

.forum .user-forum .title-name {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    width: 100%;
}

.forum .user-forum .title-name h4 {
    margin-bottom: 5px;
}

.forum .user-forum .title-name span {
    font-size: 13px;
}

.forum .content-text h5 {
    font-size: 17px;
    margin-bottom: 10px;
}

.forum .content-info {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}

.forum .content-info ul li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.forum .content-info ul li:first-child {
    float: left;
    height: 45px;
    line-height: 54px;
}

.forum .content-info ul li:last-child {
    float: right;
    height: 45px;
    line-height: 54px;
}

.forum .content-info ul li a i {
    color: #01c77f;
    font-size: 24px;
}

/*gallery*/
.gallery .content-image img {
    width: 100%;
    border-radius: 12px;
}

.popup-gallery {
    width: calc(100% - 15px * 2);
    height: auto;
    top: 50%;
    transform: translateY(-50%) !important;
    border-radius: 12px;
    margin: 15px;
    padding: 0;
}

.popup-gallery.modal-in {
    transform: translate3d(0, -200px, 0) !important;
}

.popup-gallery.modal-out {
    transform: translate3d(0, 100%, 0) !important;
}

.popup-gallery .image-popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.popup-gallery .image-popup-close a i {
    font-size: 18px;
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #01c77f;
    border-radius: 50%;
}

.popup-gallery .popup-image {
    background: #fff;
    border-radius: 12px;
}

.popup-gallery .popup-image img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.popup-gallery .popup-image .image-title {
    padding: 15px;
    border-radius: 0 0 12px 12px;
}

.popup-gallery .popup-image .image-title h4 {
    margin-bottom: 10px;
}

/*maintenance*/
.maintenance .content-box {
    text-align: center;
}

.maintenance .content-box h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.maintenance .content-box .icon-animation ul li {
    display: inline-block;
}

.maintenance .content-box .icon-animation ul li i {
    font-size: 80px;
    margin-bottom: 15px;
    color: #01c77f;
}

.maintenance .content-box .icon-animation ul li i.fa-cog {
    position: relative;
    -webkit-animation: rotation 2s linear infinite;
}

.maintenance .content-box .icon-animation ul li.gear-opponent i {
    position: relative;
    top: -27px;
    right: 6px;
    font-size: 60px;
}

.maintenance .content-box .icon-animation ul li.gear-opponent i.fa-cog {
    position: relative;
    -webkit-animation: rotate-opponent 2s linear infinite;
    animation: rotate-opponent 2s linear infinite;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes rotate-opponent {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }

}

/*page not found*/
.page-not-found .content-box {
    text-align: center;
}

.page-not-found .content-box h2 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 15px;
}

.page-not-found .content-box h2 i {
    color: #01c77f;
    margin: 0 10px;
}

.page-not-found .content-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/*portfolio*/
.portfolio .toolbar {
    border-radius: 5px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.portfolio .tabs {
    margin-top: 20px;
}

.portfolio .content-image img {
    width: 100%;
    border-radius: 12px;
}

/*pricing table*/
.pricing-table {
    text-align: center;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: #fff;
}

.pricing-table .pricing-header {
    position: relative;
    background: #01c77f;
    padding: 20px 15px;
    z-index: 1;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.pricing-table .pricing-header h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.pricing-table .pricing-header h2 sup {
    font-size: 22px;
}

.pricing-table .pricing-header i {
    position: absolute;
    top: -10px;
    left: -5px;
    opacity: 0.3;
    color: #fff;
    font-size: 60px;
    z-index: -1;
}

.pricing-table .pricing-content {
    padding: 15px;
}

.pricing-table .pricing-content .pricing-title {
    margin-bottom: 15px;
}

.pricing-table .pricing-content .pricing-list ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.pricing-table .pricing-content .pricing-list ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*profile*/
.profile .profile-user {
    text-align: center;
}

.profile .profile-user .content-image {
    position: relative;
    display: inline-block;
}

.profile .profile-user .content-image img {
    width: 80px;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

.profile .profile-user .content-image .icon-edit {
    position: absolute;
    top: 0;
    right: -10px;
}

.profile .profile-user .content-image .icon-edit i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #01c77f;
    cursor: pointer;
    border-radius: 50%;
}

.profile .profile-user .profile-name {
    margin-top: 10px;
}

.profile .profile-user .profile-name h4 {
    font-weight: 600;
    margin-bottom: 5px;
}

.profile .profile-button {
    text-align: center;
}

.profile .profile-button ul li {
    display: inline-block;
    margin: 0 5px;
}

.profile .profile-button ul li:last-child .buttons {
    background: #777;
}

.profile .profile-info {
    text-align: center;
}

.profile .profile-info .content h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.profile .profile-content .toolbar {
    border-radius: 5px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.profile .profile-content .content p a {
    color: #01c77f;
    font-weight: 500;
    margin-left: 5px;
}

.profile .profile-content .content .email-link {
    text-decoration: underline;
}

.profile .profile-content .content-image img {
    width: 100%;
    border-radius: 12px;
}

.popup-map {
    padding: 0;
}

.popup-map .map {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

.popup-map .popup-close {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.popup-map .popup-close a i {
    font-size: 18px;
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #01c77f;
    border-radius: 50%;
}

/*profile edit*/
.profile-edit .profile-user {
    text-align: center;
}

.profile-edit .profile-user .content-image {
    position: relative;
    display: inline-block;
}

.profile-edit .profile-user .content-image img {
    width: 80px;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-edit .profile-user .content-image form input {
    display: none;
}

.profile-edit .profile-user .content-image .icon-upload {
    position: absolute;
    top: 0;
    right: -10px;
}

.profile-edit .profile-user .content-image .icon-upload i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    background: #01c77f;
    border-radius: 50%;
}

/*reservation*/
.reservation .content-box {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.reservation .content-box i {
    font-size: 35px;
    color: #01c77f;
    margin-bottom: 10px;
}

.reservation-header {
    background: #01c77f;
    padding: 15px;
    text-align: center;
    position: relative;
}

.reservation-header .caption i {
    color: #fff;
    font-size: 35px;
    margin-bottom: 15px;
}

.reservation-header .caption h4 {
    color: #fff;
    z-index: 1;
}

.reservation-header .caption .icon-close {
    position: absolute;
    top: 12px;
    right: 15px;
}

.reservation-header .caption .icon-close i {
    font-size: 20px;
}

.reservation-form {
    margin: 15px;
}

.reservation-form .list .item-content .item-inner textarea {
    overflow: hidden;
}

.reservation-popup {
    padding: 0;
}

.reservation-popup.reservation-content {
    background: #efeff4;
}

/*reset password*/
.reset-password h4 {
    margin-bottom: 10px;
}

.reset-password .list {
    margin-top: 15px;
}

.reset-password .list .item-content {
    padding-left: 0;
}

/*services*/
.services .content {
    display: flow-root;
    margin-bottom: 10px;
}

.services .content i {
    font-size: 18px;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #01c77f;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    float: left;
}

.services .content .service-title h4 {
    position: relative;
    top: 10px;
    overflow: hidden;
}

/*settings*/
.settings .settings-photo {
    text-align: center;
}

.settings .settings-photo .content-image {
    position: relative;
    display: inline-block;
}

.settings .settings-photo .content-image img {
    width: 80px;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

.settings .settings-photo .content-image form input {
    display: none;
}

.settings .settings-photo .content-image .icon-upload {
    position: absolute;
    top: 0;
    right: -10px;
}

.settings .settings-photo .content-image .icon-upload i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #01c77f;
    border-radius: 50%;
    cursor: pointer;
}

/*sign in*/
.sign-in .list .item-content {
    padding-left: 0;
}

.sign-in .list .item-content .item-media i {
    color: #01c77f;
}

.sign-in .sign-in-with ul li {
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.sign-in .sign-in-with ul li i {
    background: transparent;
    margin-right: 10px;
    font-size: 16px;
}

/*sign up*/
.sign-up .list .item-content {
    padding-left: 0;
}

.sign-up .list .item-content .item-media i {
    color: #01c77f;
}

.sign-up .sign-up-with ul li {
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.sign-up .sign-up-with ul li i {
    background: transparent;
    margin-right: 10px;
    font-size: 16px;
}

/*skill*/
.skill .skill-content h6 {
    margin-bottom: 10px;
}

.skill .skill-content .progress {
    background: #ddd;
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.skill .skill-content .progress .determinate {
    background: #01c77f;
    height: 4px;
}

/*team*/
.team .content-box {
    text-align: center;
}

.team .content-box img {
    width: 80px;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.team .content-box h4 {
    font-size: 16px;
}

.team .content-box span {
    font-size: 11px;
}

/*testimonial*/
.testimonial .swiper-container-horizontal {
    padding-bottom: 30px;
}

.testimonial .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.testimonial .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    background: #ddd;
    opacity: 1;
    width: 7px;
    height: 7px;
}

.testimonial .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #01c77f;
}

.testimonial .swiper-slide .content-image {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.testimonial .swiper-slide .content-image img {
    float: left;
    width: 45px;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial .swiper-slide .content-image .title-name {
    overflow: hidden;
}

/*-----shop-----*/

/*home shop*/
.sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
}

.home-shop .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
    background: #fff;
    opacity: 1;
    width: 22px;
    height: 4px;
    border-radius: 6px;
}

.home-shop .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #0aa1e6;
}

.home-shop .header-image .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.home-shop .category-shop .content-box {
    padding: 0;
}

.home-shop .category-shop .swiper-container {
    padding: 15px 15px 18px;
}

.home-shop .category-shop .swiper-container .swiper-scrollbar {
    height: 4px;
}

.home-shop .category-shop .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    background: #0aa1e6;
}

.home-shop .category-shop .swiper-container .swiper-slide .content {
    text-align: center;
}

.home-shop .category-shop .swiper-container .swiper-slide .content i {
    font-size: 22px;
    color: #4d4d4d;
}

.home-shop .flash-sale {
    background: #01ef98;
    padding-top: 15px;
}

.home-shop .flash-sale .wrap-title {
    margin-top: 0;
}

.home-shop .flash-sale .swiper-container {
    padding-bottom: 30px;
}

.home-shop .flash-sale .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.home-shop .promo .swiper-container {
    padding-bottom: 30px;
}

.home-shop .promo .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.home-shop .promo .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #4d4d4d;
}

.home-shop .promo .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #0aa1e6;
}

.home-shop .promo .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

/*product*/
.product .product-page {
    padding-bottom: 50px;
}

.product .wrap-filter {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 0;
    border-top: 1px solid #eee;
    z-index: 99;
    background: #fff;
    height: 40px;
}

.product .wrap-filter .content .list .item-input-wrap {
    display: contents;
}

.product .wrap-filter .content .list .item-input-wrap select {
    font-size: 14px;
    background: #eee;
    border-radius: 3px;
    padding: 3px 20px;
    color: #333;
    height: 30px;
}

.product .content {
    border-radius: 12px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.product .content img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.product .content .content-text {
    background: #fff;
    padding: 10px;
    border-radius: 0 0 12px 12px;
}

.product .content .content-text p {
    margin-bottom: 7px;
}

.product .content .content-text .price {
    font-size: 16px;
    font-weight: 600;
    color: #01c77f;
}

/*product details*/
.product-details {
    padding-bottom: 50px;
}

.product-details .wrap-action {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 0;
    border-top: 1px solid #eee;
    z-index: 99;
    background: #fff;
    height: 40px;
}

.product-details .wrap-action .content-icon i {
    font-size: 20px;
    position: relative;
    top: 4px;
    color: #888;
}

.product-details .wrap-action .content-button .buttons {
    margin-top: 0;
}

.product-details .product-title h4 {
    margin-bottom: 10px;
}

.product-details .product-title .price {
    font-size: 16px;
    font-weight: 600;
    color: #01c77f;
}

.product-details .product-information ul li {
    margin-bottom: 8px;
}

.product-details .product-information ul li:last-child {
    margin-bottom: 0;
}

.product-details .product-information ul li span {
    float: right;
    color: #01c77f;
    font-weight: 500;
}

.product-details .details-information ul li {
    margin-bottom: 8px;
}

.product-details .details-information ul li:last-child {
    margin-bottom: 0;
}

.product-details .details-information ul li span {
    float: right;
    color: #01c77f;
    font-weight: 500;
}

.product-details .author-store {
    padding: 15px;
    background: #01c77f;
    border-radius: 12px;
}

.product-details .author-store a img {
    width: 50px;
    height: 100%;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}

.product-details .author-store a .title-name {
    overflow: hidden;
}

.product-details .author-store a .title-name h4 {
    margin-bottom: 3px;
    color: #fff;
}

.product-details .author-store a .title-name span {
    color: #fff;
}

.product-details .product-review img {
    width: 35px;
    height: 100%;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}

.product-details .product-review .content-text {
    overflow: hidden;
}

.product-details .product-review .content-text h5 {
    margin-bottom: 3px;
}

.product-details .product-review .content-text span {
    display: inline-block;
    margin-bottom: 5px;
    color: #888;
    font-size: 13px;
}

/*shopping cart*/
.wrap-action-cart {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 0;
    border-top: 1px solid #eee;
    z-index: 99;
    background: #fff;
    height: 40px;
}

.wrap-action-cart .content-button .buttons {
    margin-top: 0;
}

.wrap-action-cart .content-total h6 {
    font-weight: 400;
    position: relative;
    top: 11px;
    text-align: center;
}

.wrap-action-cart .content-total h6 span {
    font-weight: 500;
    margin-left: 5px;
    color: #01c77f;
}

.cart {
    padding-bottom: 50px;
}

.cart .list ul {
    background: transparent;
}

.cart .list ul li {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cart .list ul li .item-content {
    padding-left: 0;
}

.cart .product-cart:last-child ul li {
    margin-bottom: 0;
}

.cart .content-image img {
    width: 100%;
    border-radius: 12px;
}

.cart .content-text a p {
    font-size: 14px;
}

.cart .content-info .price {
    font-size: 16px;
    font-weight: 600;
    color: #01c77f;
    display: inline-block;
    margin-bottom: 8px;
}

.cart .content-info form .item-input-wrap {
    display: inline-flex;
}

.cart .content-info form .item-input-wrap input {
    padding: 0 8px;
    font-size: 13px;
    height: 25px;
    background: #eee;
    border-radius: 3px;
}

/*checkout*/
.wrap-action-checkout {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 0;
    border-top: 1px solid #eee;
    z-index: 99;
    background: #fff;
    height: 40px;
}

.wrap-action-checkout .content-button .buttons {
    margin-top: 0;
}

.wrap-action-checkout .content-total h6 {
    font-weight: 400;
    position: relative;
    top: 4px;
    text-align: center;
}

.wrap-action-checkout .content-total h6 span {
    font-weight: 500;
    margin-left: 5px;
    color: #01c77f;
}

.checkout {
    padding-bottom: 50px;
}

.checkout .content-image img {
    width: 100%;
    border-radius: 12px;
}

.checkout .content-text a p {
    font-size: 14px;
}

.checkout .content-info .price {
    font-size: 16px;
    font-weight: 600;
    color: #01c77f;
    display: inline-block;
    margin-bottom: 8px;
}

.checkout .content-info form .item-input-wrap {
    display: inline-flex;
}

.checkout .content-info form .item-input-wrap input {
    padding: 0 8px;
    font-size: 13px;
    height: 25px;
    background: #eee;
    border-radius: 3px;
}

.checkout .payment-methods .list .item-inner {
    margin-left: 8px;
}

/*categories*/
.categories .content {
    text-align: center;
}

.categories .content i {
    font-size: 35px;
    margin-bottom: 10px;
    color: #01c77f;
}

/*order history*/
.order-history .accordion .accordion-list ul {
    background: transparent;
}

.order-history .accordion .accordion-list ul .accordion-item.accordion-item-opened .accordion-item-content {
    padding: 0 15px 15px;
}

.order-history .accordion .accordion-list ul .accordion-item .item-title {
    width: 100%;
}

.order-history .accordion .accordion-list ul .accordion-item .item-title span {
    float: right;
}

.order-history .accordion .accordion-list ul .accordion-item .item-title span i {
    font-size: 16px;
    color: #01c77f;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .content-image img {
    width: 100%;
    border-radius: 12px;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .content-title p {
    font-size: 14px;
    padding: 0;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .content .price {
    font-size: 16px;
    font-weight: 500;
    color: #01c77f;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .content .buttons {
    margin-top: 0;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .info-product-order table {
    background: #999;
    border-radius: 6px;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .info-product-order table thead th {
    color: #fff;
}

.order-history .accordion .accordion-list ul .accordion-item .accordion-item-content .info-product-order table tbody td {
    background: #eee;
}

.order-history .accordion .list-box {
    background: #fff;
}

.order-history .accordion .item-content .item-inner {
    padding-right: 15px;
}

.order-history .accordion .item-content .item-inner::before {
    display: none;
}

.order-history .accordion .item-content .item-inner::after {
    background: transparent;
}

/*tracking order*/
.tracking-order .accordion .accordion-list ul {
    background: transparent;
}

.tracking-order .accordion .accordion-list ul .accordion-item.accordion-item-opened .accordion-item-content {
    padding: 0 15px 15px;
}

.tracking-order .accordion .accordion-list ul .accordion-item .item-title {
    width: 100%;
}

.tracking-order .accordion .accordion-list ul .accordion-item .item-title span {
    float: right;
}

.tracking-order .accordion .accordion-list ul .accordion-item .item-title span i {
    font-size: 16px;
    color: #01c77f;
}

.tracking-order .accordion .accordion-list ul .accordion-item .accordion-item-content .info-product-order table {
    background: #999;
    border-radius: 6px;
}

.tracking-order .accordion .accordion-list ul .accordion-item .accordion-item-content .info-product-order table thead th {
    color: #fff;
}

.tracking-order .accordion .accordion-list ul .accordion-item .accordion-item-content .info-product-order table tbody td {
    background: #eee;
}

.tracking-order .accordion .accordion-list ul .accordion-item .accordion-item-content .shipment-status table {
    background: #999;
    border-radius: 6px;
}

.tracking-order .accordion .accordion-list ul .accordion-item .accordion-item-content .shipment-status table thead th {
    color: #fff;
}

.tracking-order .accordion .accordion-list ul .accordion-item .accordion-item-content .shipment-status table tbody td {
    background: #eee;
}

.tracking-order .accordion .list-box {
    background: #fff;
}

.tracking-order .accordion .item-content .item-inner {
    padding-right: 15px;
}

.tracking-order .accordion .item-content .item-inner::before {
    display: none;
}

.tracking-order .accordion .item-content .item-inner::after {
    background: transparent;
}

/*wishlist*/
.wishlist .list ul {
    background: transparent;
}

.wishlist .list ul li {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.wishlist .list ul li .item-content {
    padding-left: 0;
}

.wishlist .product-wishlist:last-child ul li {
    margin-bottom: 0;
}

.wishlist .content-image img {
    width: 100%;
    border-radius: 12px;
}

.wishlist .content-text a p {
    font-size: 14px;
}

.wishlist .content-info {
    text-align: center;
}

.wishlist .content-info .price {
    font-size: 16px;
    font-weight: 600;
    color: #01c77f;
    display: inline-block;
    margin-bottom: 8px;
}

.wishlist .content-info .wishlist-status {
    font-size: 11px;
    text-transform: uppercase;
}

.wishlist .content-info .wishlist-status.status-sold {
    color: #01c77f;
}

/*account buyer*/
.account-buyer .account-header {
    width: 100%;
    height: 180px;
    position: relative;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.account-buyer .account-header img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.account-buyer .account-header .account-caption {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
}

.account-buyer .account-header .account-caption img {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}

.account-buyer .account-header .account-caption .title-name {
    overflow: hidden;
}

.account-buyer .account-header .account-caption .title-name h4 {
    color: #fff;
    margin-bottom: 3px;
}

.account-buyer .account-header .account-caption .title-name span {
    color: #fff;
}

.account-buyer .account-header .account-caption .title-name .buttons {
    display: block;
    text-align: center;
}

.account-buyer .account-header .mask {
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
}

.account-buyer .account-balance .content span {
    display: inline-block;
    margin-bottom: 5px;
}

.account-buyer .account-balance .content h5 {
    font-size: 18px;
    font-weight: 900;
}

.account-buyer .account-balance .content .buttons {
    margin-top: 0;
    position: relative;
    top: 10px;
}

/*account seller*/
.account-seller .account-header {
    width: 100%;
    height: 180px;
    position: relative;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.account-seller .account-header img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.account-seller .account-header .account-caption {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
}

.account-seller .account-header .account-caption img {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}

.account-seller .account-header .account-caption .title-name {
    overflow: hidden;
}

.account-seller .account-header .account-caption .title-name h4 {
    color: #fff;
    margin-bottom: 3px;
}

.account-seller .account-header .account-caption .title-name span {
    color: #fff;
}

.account-seller .account-header .account-caption .title-name .buttons {
    display: block;
    text-align: center;
}

.account-seller .account-header .mask {
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
}

.account-seller .seller-action .tab-one .toolbar {
    border-radius: 5px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.account-seller .seller-action .tabs {
    margin-top: 20px;
}

.account-seller .seller-action .seller-introduction h5 {
    margin-bottom: 8px;
}

.account-seller .seller-action .seller-info p {
    margin-bottom: 10px;
}

.account-seller .seller-action .seller-info p i {
    font-size: 16px;
    margin-right: 10px;
}

.account-seller .seller-action .seller-info p span {
    color: #01c77f;
    float: right;
}

.account-seller .seller-action .seller-info p:last-child {
    margin-bottom: 0;
}

.account-seller .seller-action .seller-social {
    text-align: center;
}

.account-seller .seller-action .seller-social ul li {
    display: inline-block;
    margin: 0 10px;
}

.account-seller .seller-action .seller-social ul li i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.account-seller .seller-action .product-seller {
    padding-bottom: 0;
}

.account-seller .seller-action .category .content-image img {
    width: 100%;
    border-radius: 12px;
}

.account-seller .seller-action .category .content-text h4 {
    margin-bottom: 6px;
}

.account-seller .seller-action .info-rating {
    text-align: center;
}

.account-seller .seller-action .info-rating h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.account-seller .seller-action .info-rating ul {
    margin-bottom: 10px;
}

.account-seller .seller-action .info-rating ul li {
    display: inline-block;
    margin: 0 3px;
}

.account-seller .seller-action .info-rating ul li i {
    color: #01c77f;
}

.account-seller .seller-action .seller-review img {
    width: 36px;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.account-seller .seller-action .seller-review .content-text {
    overflow: hidden;
}

.account-seller .seller-action .seller-review .content-text h5 {
    margin-bottom: 2px;
}

.account-seller .seller-action .seller-review .content-text .buyer-badge {
    font-size: 12px;
    font-weight: 400;
    background: #0aa1e6;
    padding: 2px 10px;
    border-radius: 2px;
    color: #fff;
    margin-left: 10px;
}

.account-seller .seller-action .seller-review .content-text .seller-badge {
    font-size: 12px;
    font-weight: 400;
    background: #01c77f;
    padding: 2px 10px;
    border-radius: 2px;
    color: #fff;
    margin-left: 10px;
}

.account-seller .seller-action .seller-review .content-text .date-time {
    display: inline-block;
    margin-bottom: 8px;
    color: #888;
    font-size: 13px;
}

.account-seller .seller-action .seller-review .content-text ul {
    margin-bottom: 8px;
}

.account-seller .seller-action .seller-review .content-text ul li {
    display: inline-block;
    margin: 0 3px;
}

.account-seller .seller-action .seller-review .content-text ul li i {
    color: #01c77f;
    font-size: 12px;
}

.account-seller .seller-action .seller-review.review-reply {
    margin-left: 40px;
}

/*-----blog-----*/

/*category tag*/
.category-tag {
    font-size: 12px;
    font-weight: 400;
    background: #01c77f;
    padding: 1px 10px;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}

/*home blog*/
.home-blog .header-image .swiper-overlap.swiper-wrapper .swiper-slide {
    width: 250px;
    height: 100%;
    position: relative;
}

.home-blog .header-image .swiper-overlap.swiper-wrapper .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.home-blog .header-image .swiper-overlap.swiper-wrapper .swiper-slide .image-caption {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.home-blog .header-image .swiper-overlap.swiper-wrapper .swiper-slide .image-caption h4 {
    color: #fff;
}

.home-blog .header-image .swiper-overlap.swiper-wrapper .swiper-slide .mask {
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.home-blog .recent-post .user-blog img {
    width: 36px;
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.home-blog .recent-post .user-blog .title-name {
    overflow: hidden;
}

.home-blog .recent-post .user-blog .title-name h5 {
    margin-bottom: 2px;
}

.home-blog .recent-post .content-blog img {
    width: 100%;
    border-radius: 12px;
}

.home-blog .recent-post .content-blog .text {
    margin-top: 10px;
}

.home-blog .recent-post .content-blog .text h4 {
    margin-bottom: 10px;
}

/*home blog list*/
.home-blog-list .header-image .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    background: #fff;
    opacity: 1;
    width: 7px;
    height: 7px;
}

.home-blog-list .header-image .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #01c77f;
}

.home-blog-list .header-image .swiper-container .swiper-slide {
    position: relative;
}

.home-blog-list .header-image .swiper-container .swiper-slide img {
    width: 100%;
    border-radius: 12px;
}

.home-blog-list .header-image .swiper-container .swiper-slide .image-caption {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 30px;
}

.home-blog-list .header-image .swiper-container .swiper-slide .image-caption span {
    font-size: 12px;
    font-weight: 400;
    background: #01c77f;
    padding: 1px 10px;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}

.home-blog-list .header-image .swiper-container .swiper-slide .image-caption h4 {
    color: #fff;
}

.home-blog-list .header-image .swiper-container .swiper-slide .mask {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.home-blog-list .recent-post img {
    width: 70px;
    height: 100%;
    float: left;
    margin-right: 15px;
    border-radius: 6px;
}

.home-blog-list .recent-post .content-text {
    overflow: hidden;
}

.home-blog-list .recent-post .content-text h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

/*blog grid*/
.blog-grid .content {
    border-radius: 12px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.blog-grid .content img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}

.blog-grid .content .content-text {
    background: #fff;
    padding: 10px;
    border-radius: 0 0 12px 12px;
}

.blog-grid .content .content-text h4 {
    font-size: 16px;
}

/*blog list*/
.blog-list .recent-post img {
    width: 70px;
    height: 100%;
    float: left;
    margin-right: 15px;
    border-radius: 6px;
}

.blog-list .recent-post .content-text {
    overflow: hidden;
}

.blog-list .recent-post .content-text h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

/*blog single*/
.blog-single .b-single-content h4 {
    margin-bottom: 15px;
}

.blog-single .b-single-content .blog-info ul {
    margin-bottom: 15px;
}

.blog-single .b-single-content .blog-info ul li {
    display: inline-block;
}

.blog-single .b-single-content .blog-info ul li:last-child {
    float: right;
}

.blog-single .b-single-content .blog-info ul li:last-child span {
    color: #01c77f;
    margin-left: 5px;
}

.blog-single .b-single-content img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.blog-single .b-single-content .blog-share ul li {
    display: inline-block;
    margin-right: 5px;
}

.blog-single .b-single-content .blog-share ul li:first-child {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.blog-single .b-single-content .blog-share ul li a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.blog-single .b-single-content .blog-tag p {
    color: #01c77f;
}

.blog-single .b-single-content .blog-tag p span {
    margin-right: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.blog-single .comment-people img {
    width: 35px;
    height: 100%;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}

.blog-single .comment-people .content-text {
    overflow: hidden;
}

.blog-single .comment-people .content-text h4 {
    margin-bottom: 8px;
}

.blog-single .comment-people .content-text .date-time {
    margin-bottom: 10px;
}

/*social media color*/
.bg-facebook {
    background: #3b5999 !important;
}

.bg-twitter {
    background: #55acee !important;
}

.bg-google {
    background: #dd4b39 !important;
}

.fa-facebook-f {
    background: #3b5999 !important;
}

.fa-twitter {
    background: #55acee !important;
}

.fa-google {
    background: #dd4b39 !important;
}

.fa-instagram {
    background: #e4405f !important;
}

.fa-linkedin-in {
    background: #0077B5 !important;
}

.fa-whatsapp {
    background: #25D366 !important;
}

.fa-youtube {
    background: #cd201f !important;
}